.modal-wrapper {
    margin-top: 35px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border-radius: 8px;
    /* border: 1px solid black; */
    /* box-shadow: 10px 4px 6px #369C7C; */
    transition: opacity 0.3s ease;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0 0;
  }

  .modal-content {
    padding: 12px;
    width: 100%
  }
  
  /* Стили для регистрации и входа (добавьте свойства по вашему усмотрению) */
  .text-green {
    color: green;
  }
  
  .text-pink {
    color: pink;
  }

  .header-wrapper:hover .modal-wrapper {
    transform: rotateX(0);
    opacity: 1;
    visibility: visible;
}